body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
    
  }
  
  
  /* header and fouter */
  #header{
    display: flex;
    background-color: #071952;
    height: 80px;
    color: #EBF4F6;
    justify-content: space-between;
  }
  .header_box{
    display: flex;
    padding: 10px 50px 10px 50px;
  }
  .Nav_Items{
    color: white;
    text-decoration: none;
    padding: 18px;
  }
  .fouter{
    width: 100%;
    display: flex;
    background-color: #071952;
    height: 550px;
    color: #EBF4F6;
  }
  .fouter p{
    font-weight: normal;
  }
  .fouter_informations{
    padding-top: 20px;
    padding: 20px;
  }
  .fouter_informations a{
    display: block;
    text-decoration: none;
    color: #EBF4F6;
    font-size: 15px;
    padding: 5px;
    font-weight: normal;
  }
  .fouter_informations a:hover{
    color: #37B7C3;
  }
  .slides{
    display: none;
  }
  .Nav_Items:hover{
    color:#37B7C3
  }
  .link{
    width: 60%;
    display: flex;
    padding-left: 20%;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .social_link{
    display: flex;
    padding: 5px;
    transition: transform 0.25s;
  }
  .social_link:hover{
    transform: scale(1.1);
  }
  .vertical_line{
    background-color: #EBF4F6;
    border: none;
    padding: none;
    width: 1px;
    height: 35px;
  }
  .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 60px;
  }

  /* information */

.khung{
  margin: auto;
  width: 60%;
  background-color: whitesmoke;
  padding: 40px;
  font-size: large;
}